@media screen and (max-width: 768px) {
    .skills {flex-direction: column; gap: 10px;}
    #intro > h2 {font-size: 1rem;}
    .taskbar{width: 90%; padding: 0;}
    #p1 > div, #p2 > div, #ap > div {flex-direction: column;}
    h2{font-size: 2rem;}
    h3{font-size: 1rem; }
    .otherproj > a{text-align: center; transform: translateX(0px);}
    #ap > div > div:first-child {display: none;}
}
