@font-face{
    font-family:"FOT-Rodin NTLG Pro";
    font-style:normal;
    src:url(../files/FOT-Rodin-NTLG-Pro-Light.otf)}
@font-face{
    font-family:"FOT-Rodin NTLG Pro Bold";
    font-style:normal;
    src:url(../files/FOT-Rodin-NTLG-Pro-Semi-Bold.otf)}
/*Theme*/
:root {--bg-color: #ededed;--txt-color: #333;--box-color: #ffffff;}
[data-theme="dark"] {--bg-color: #222222;--txt-color: #fff;--box-color: #3D3D37;}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2D2D2D;
        --txt-color: #fff;
        --box-color: #3D3D37;
    }
    [data-theme="light"] {
        --bg-color: #ededed;
        --txt-color: #333;
        --box-color: #ffffff;
    }
}
body {
    background-color: var(--bg-color);
    user-select: none;
}
/*Top barre*/
.topbarj{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.topbarj > img{
    position: absolute;
    top: 15px;
    left: 10px;
    display: block;
    width: 24px;
    height: 24px;
    padding: 1px;
    border: 2px solid #737A80;
    border-radius: 30px;
    cursor: pointer;
}
.topbarj > img:hover, .footer > a > img:hover, .boxj:hover > a > img{
    animation-duration: 1s;
    animation-name: hoverg;
    animation-iteration-count: infinite;
}
#datecurrent, #batterycurent{
    position: absolute;
    color: var(--txt-color);
    font-family: "FOT-Rodin NTLG Pro Bold";
    margin: 0px;
    font-weight: 600;
    font-size: 13px;
}
#datecurrent{
    right: 125px;
    top: 20px;
}
#batterycurent{
    right: 40px;
    top: 20px;
}
#fullb, #minb, #qb, #nob, #charb{
    position: absolute;
    margin: 0px;
    right: 10px;
    top: 23px;
    font-size: 18px;
    color: var(--txt-color);
}
#wifiyes, #wifino{
    position: absolute;
    margin: 0px;
    right: 90px;
    top: 25px;
    font-size: 14px;
    color: var(--txt-color);
}

/*Box jeux*/
.gamelist{
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    top: 50%;
    left:0%;
    transform: translate(0%,-55%);
    width: 95%;
    margin: 0px 20px;
    overflow-x: scroll;
}
.boxj > a > img{
    display: block;
    width: 150px;
    height: 150px;
    padding: 1px;
    border: 3px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    cursor: pointer;
}
.boxj > p{
    font-family: "FOT-Rodin NTLG Pro",sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 15px;
    color: transparent;
}
.boxj:hover > p{
    color: #00C3E3;
}
.boxj{
    width: 160px;
    height: 200px;
}
@keyframes hoverg{
    0%{
        border-color: #00C3E3;
    }
    50%{
        border-color: #91f0ff;
    }
    100%{
        border-color: #00C3E3;
    }
}

.footer{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
.footer > a > img{
    margin: 0px 5px;
    width: 38px;
    height: 38px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--box-color);
}

/*Scrollbar*/
.gamelist::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.gamelist::-webkit-scrollbar-track {
    background: var(--bg-color);
    transition: all .2s ease;
}
.gamelist::-webkit-scrollbar-thumb {
    background: var(--txt-color);
    border-radius: 50px;
}
.gamelist::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(115deg,#ffa600 10%, #f003d0 90%);
}

@media screen and (max-width: 428px){
    .boxj > a > img {
        width: 100px;
        height: 100px;
        padding: 1px;
    }
    .boxj {
        width: 107px;
        height: 135px;
    }
    .boxj > p {
        font-size: 10px;
    }
    .footer > a > img {
        width: 33px;
        height: 33px;
    }
}
@media screen and (max-width: 245px){
    .gamelist{
        transform: translate(0%,-45%);
    }
    .boxj > a > img {
        width: 70px;
        height: 70px;
        padding: 1px;
    }
    .boxj {
        width: 80px;
        height: 95px;
    }
    .boxj > p {
        font-size: 7px;
    }
    .footer > a > img {
        width: 20px;
        height: 20px;
    }
    .footer{
        bottom: 0px;
    }
    #batterycurent, #datecurrent{
        top: 5px;
    }
    #fullb, #minb, #qb, #nob, #charb{
        top: 8px;
    }
    #wifiyes, #wifino{
        top: 10px;
    }
    .topbarj > img {
        top: 5px;
        width: 15px;
        height: 15px;
    }
    .gamelist::-webkit-scrollbar{
        width: 4px;
        height: 4px;
    }
}
