@media screen and (min-width: 910px){
    menu > label{
        display: none;
        }
    .pc{
        display: block;
    }
    .mobile{
        display: none;
    }
}
@media screen and (max-width: 910px){
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }
    menu{
        padding-top: 0px;
        padding-bottom: 0px;
        height: 42px;
    }
    menu ul{
        margin: 30% 0px;
        display: none;
        transition: all .2s ease;
        border-top: #ddd 1px solid;
        width: 100%;
    }
    #close{display: none; float: right;}
    #mbl[type=checkbox]:checked + ul{
        display: flex;
        flex-flow:column-reverse;
    }
    menu ul li{
        margin: 10px auto;
        width: max-content;
    }
    #bar{display: block;}

    menu > label{
        position: absolute;
        right: 2px;
        top: 1px;
        display: block;
        width: 0px;
        padding-bottom: 35px;
    }
    em{display: none;}
    .theme-switch-wrapper{
        right: 45px;
    }
    .menumobileon{
        height: 100%;
        z-index: 2;
    }
    .menumobileon > ul{
        border: none;
    }
    menu a {
        font-size: 25px;
    }

/*Page acceuil*/
.social{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(61px,1fr));
  }
.social > a > img{
    width: 60px;
    height: 60px;
}
.textabout{
    font-size: 18px;
}
.imgabout{
    display: none;
}
.projets{
    grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
}
.projetbox > a > img{
    width: 120px;
    height: 120px;
}
.projetbox > a > h3{
    font-size: 18px;
}
.textgradient {
    background: linear-gradient(to right, #12ffd7 5%, #ffa600 30%);
    -webkit-background-clip: text;
}

/*Games*/
.joycon{
    height: 265px;
    margin: 0px;
}
.console > iframe {
    margin: 0px;
    border: 12px solid #000;
    height: 240px;
    width: 427px;
}
.console {
    width: 635px;
}
.part4 > .title {
    margin: 50px 0px 0px;
    font-size: 30px;
}
.tm, .axo {
    margin: 250px auto 0px auto;
    width: 43%;
}
.tm, .axo, .wos {
    padding: 10px 10px;
    font-size: 17px;
}
.tm img, .axo img, .wos img{
    height: 75px;
    padding-right: 10px;
  }
  .homebtn{
    right: 54px;
    bottom: 66px;
    height: 23px;
    width: 23px;
  }
}

@media screen and (max-width:650px) {
    /*Games*/
.joycon{
    height: 155px;
    margin: 0px;
}
.console > iframe {
    margin: 0px;
    border: 8px solid #000;
    height: 137px;
    width: 244px;
}
.console {
    width: 370px;
}
.description{
    font-size: 18px;
}
#loadnow{
    left: 50%;
    transform: translate(-50%,0%);
}
.homebtn{
    right: 30px;
    bottom: 40px;
    height: 14px;
    width: 14px;
  }
}
