html, body {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%,-50%);
  background-color: rgba(127, 127, 127, 0.2);
  backdrop-filter: blur(9px);
  border-radius: 50px;
  font-family: Tahoma, sans-serif;
}

h1 {
  font-size: 4em;
  line-height: 1.4;
  color: #ffffff;
}

h2 {
  font-size: 1em;
  line-height: 1;
  opacity: 0.6;
  color: white;
  margin-bottom: 1em;
}

input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed white;
  font-size: 1.5em;
  padding: 0.5em;
  margin-bottom: 2em;
  color: white;
}

#result {
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
}

@media screen and (max-width: 600px){
  h1 {
      font-size: 3em;
  }
}
