body {
  background-color: #ffe5c1;
  font-family:Arial, Helvetica, sans-serif;
  transition: all ease-out .2s;
  color: #000000;
}

h1{
  color: orange;
}

.pfgen{
  padding: 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 60%;
  border-radius: 20px;
  text-align: center;
  transition: all ease-out .2s;
}

button, #devise{
  background: #e8d1b2;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 7px 5px;
  width: 50%;
}
#pfimg{
  margin: 40px 30% 5px 30%;
  height: 200px;
}
p{
    margin-top: 5px;
    font-size: 20px;
    
}
#resultpf{
  font-size: 25px;
}
button{
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
  background: orange;
}
button:active{
  background: lightblue;
}

@media screen and (max-width: 600px){
.pcgen{
    width: 90%;
}
#pfimg {
    margin: 40px 50px 5px 50px;
    height: 100px;
}
}
